<html>
	<head>
		<script type="text/javascript">

		function updateColor() {
			var r = document.getElementById("R").value;
			var g = document.getElementById("G").value;
			var b = document.getElementById("B").value;
			var data = [r, g, b].join(",");
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "{{ url_for('update') }}", true);
			xhr.setRequestHeader("Content-type", "text/csv");
			xhr.setRequestHeader("Content-length", data.length)
			xhr.send(data);
		}

		</script>
	</head>
	<body>
	{% for color in 'RGB' %}
	<div>{{ color }} <input type="range" step="1" min="0" max="255"
		oninput="updateColor();" id="{{ color }}" value="0"></div>
	{% endfor %}
	</body>
</html>
