<html>
	<head>
		<script type="text/javascript">

		function updateColor() {
			var r = document.getElementById("R").value;
			var g = document.getElementById("G").value;
			var b = document.getElementById("B").value;
			var data = [r, g, b].join(",");
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "{{ url_for('update') }}", true);
			xhr.setRequestHeader("Content-type", "text/csv");
			xhr.setRequestHeader("Content-length", data.length)
			xhr.send(data);
		}

		function rainbow() {
			document.getElementById("R").value = 255;
			document.getElementById("G").value = 0;
			document.getElementById("B").value = 0;
			for (var i = 0; i < 26; i++) {
				setTimeout("document.getElementById('G').value = " + (i * 10) + "; updateColor();", i * 40);
				setTimeout("document.getElementById('R').value = " + ((25 - i) * 10) + "; updateColor();", (i + 25) * 40);
				setTimeout("document.getElementById('B').value = " + (i * 10) + "; updateColor();", (i + 50) * 40);
				setTimeout("document.getElementById('G').value = " + ((25 - i) * 10) + "; updateColor();", (i + 75) * 40);
				setTimeout("document.getElementById('R').value = " + (i * 10) + "; updateColor();", (i + 100) * 40);
				setTimeout("document.getElementById('B').value = " + ((25 - i) * 10) + "; updateColor();", (i + 125) * 40);
			}
			setTimeout("if (document.getElementById('repeat').checked) rainbow();", 150 * 40);
		}

		</script>
	</head>
	<body>
	{% for color in 'RGB' %}
	<div>{{ color }} <input type="range" step="1" min="0" max="255"
		oninput="updateColor();" id="{{ color }}" value="0"></div>
	{% endfor %}
	<input type="button" value="Rainbow" onclick="rainbow()">
	<input type="checkbox" id="repeat"> <label for="repeat">repeat</label>
	</body>
</html>
